/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/** Generated by FG **/
@font-face {
    font-family: 'Conv_KNOC29JL';
    src: url('fonts/KNOC29JL.eot');
    src: local('☺'), url('fonts/KNOC29JL.woff') format('woff'), url('fonts/KNOC29JL.ttf') format('truetype'), url('fonts/KNOC29JL.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/** Generated by FG **/
@font-face {
    font-family: 'Conv_KNOCK49L';
    src: url('fonts/KNOCK49L.eot');
    src: local('☺'), url('fonts/KNOCK49L.woff') format('woff'), url('fonts/KNOCK49L.ttf') format('truetype'), url('fonts/KNOCK49L.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#html, body{
    color: #666666;
    margin: 0;
    padding: 0;
}

h1,h2{
    color:#333333;
}

 div,p,h1,h2 {
   /*  display: inline-block; */
     margin: 0;
     padding: 0;
 }
 #wrapper {
     width: 100%;
     max-width: 960px;  /*   background: url(../img/bg_guide.png) no-repeat top left;*/
     min-height: 2650px;
     position: absolute;
     left: 50%;
     margin-left: -480px;
 }

 header{
     width: 100%;
     min-height: 520px;
 }

 #whatwedo{
     width: 100%;
     min-height: 330px;
 }

 #whatwedo p {
     margin-right: 34px;
     margin-top: 23px;
     font-family: 'Conv_KNOC29JL';
     font-size: 18px;
     width: 69%;
     float: right;
     margin-right: 26px;
 }

 #whatwedo h3{
     width: 100%;
     padding-left: 10px;
     margin: 0;
 }

 #whatwedo h1{
     font-family: 'Conv_KNOCK49L';
     font-size: 32px;
     text-transform: uppercase;
     font-weight: lighter;
 }

#whatwedo h2{
    font-family: 'Conv_KNOC29JL';
    font-size: 26px;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 5px;
}

#uls{
     line-height: 16px;
     margin-top: 10px;
     font-family: 'Conv_KNOC29JL';
     font-size: 18px;
     width: 69%;
     column-count: 2;
     float: right;
     margin-right: 39px;
 }

ul {
    width: 127%;
    height: 100%;
    margin: 0 0 0 30px;
    padding: 31px 0 0;
    list-style-type: circle;
    line-height: 14px;
}

ul:after {
    content:".";
    clear:both;
    height:0;
    display:block;
    visibility:hidden;
}

ul li {
    margin:0 0 0 0px;
    padding:0 0 10px 0;
    float:left;
    width:40%;
    font-family: 'Conv_KNOC29JL';
    font-size: 18px;
    text-transform: uppercase;
}

#newscontainer{
    width: 100%;
    height: 1017px;

    border-top:1px solid #333333;
    overflow: hidden;
}

#newstitle{
    width: 100%;
    height: 53px;
    line-height: 55px;
    background-color: #f2f2f2;
}

.news{
    border-bottom: 1px solid #666;
    width: 100%;
    min-height: 220px;
    float: left;
    padding-left: 10px;
    padding-right: 5px;
    column-count: 3;
    padding-top: 10px;
    padding-bottom: 31px;
    margin-left: 1px;
    background-color: #f2f2f2;
}

.news:nth-child(3){
    min-height: 260px;
}

.news_head{
    font-size: 27px;
    width: 30%;
    font-weight: lighter;
    leading:1px;
    line-height: 25px;
    font-family: 'Conv_KNOC29JL';
}

.news p{
    -webkit-column-count: 2;
    line-height: 24px;
    column-rule: 1em solid black;
    font-family: 'Conv_KNOC29JL';
    font-size: 18px;
    width: 69%;
    column-count: 2;
    float: right;
    margin-right: 39px;
}

#btn_news{
    float: right;margin-top: 10px;
}

#img_container{
    background: url(../img/bg_images.jpg) no-repeat top left;
    width:691px;
    height: 216px;
    text-align: center;
    float: right;
}

.item_img{
    height:98%;
    float: left;

}

.item_img:not(:first-child) {
    margin-left: 7%  ;
}

.item_img(:last-child) {
  float: right;
}

#dynamic_content{
    float: left;
    width: 100%;
    margin-top: 18px;

}
#menu {
    float: left;
    margin-top: 1px;

}
.btn, .btn:hover, .btn:visited {
    width: 245px;
    height: 52px;
    display: block;
    background: url(../img/arrow.png) center right no-repeat;
    background-color: #f2f2f2;
    vertical-align: middle;
    line-height: 55px;
    border-bottom: 1px solid #666666;
    font-family: 'Conv_KNOC29JL';
    padding-left: 5px;
    font-size: 24px;
    color:#333333;
    text-decoration: none;
}

.btn:first-child{
    border-top: 1px solid #666666;
}

.btn.active {
    background-color: #FFFFFF;
}


#form {
    width: 70%;
    padding-left: 28%;

    float: left;
    margin-top: 30px;
}

#form input[type=text],#form input[type=tel] {
    background: url(../img/bg_inpu.jpg) no-repeat;
    width: 320px;
    height: 31px;
    border: none;
    float:right;
}


#form input[type=submit] {
    background: url(../img/submit.jpg) no-repeat;
    width: 122px;
    height: 31px;
    border: none;  float: left;
    margin-left: 36%;
    margin-top: 10px;
}


#form fieldset{

    width: 74.5%;
}

 #form p{
     font-family: 'Conv_KNOC29JL';
     font-size: 18px;
 }

#form label{
    height: 31px;
    line-height: 31px;
    float: left;
    width: 100%;
    color: #999999;
    font-family: 'Conv_KNOC29JL';
    text-transform: uppercase;
    font-size: 18px;
}

.title{
    font-size: 27px;
    font-weight: lighter;
    leading: 1px;
    line-height: 25px;
    font-family: 'Conv_KNOC29JL';
    line-height: 27px;
    padding: 0;
}

.spacer_form{
    float: left;
    width: 100%;
    height: 18px;
}


#footer{
    border-top: 1px solid black;
    margin-top: 36px;
    float: left;
    width: 100%;
    text-align: right;
    padding-top: 21px;
    font-size: 11px;
}



.item_img{
    margin-top: 2px;
    margin-left: 2px;

}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
